<style>
body {
  padding: 75px;
  background:  url("https://whisk.com/wp-content/uploads/2014/12/dark-wood-and-vegetables.jpg");
  background-size: cover;
}
div {
  text-align: center;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
.field input{
  background: black;
  border: 0;
}

.actions {
  color: #f05f40;
}
</style>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <a class="navbar-brand page-scroll" href="#page-top">Sign Up</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
          <li>
                  <a class="page-scroll" href="http://localhost:3000">Home</a>
              </li>
              <li>
                  <a class="page-scroll" href="http://localhost:3000/users/sign_in">Login</a>
              </li>
          </ul>
      </div>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<body>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
<br>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters min.)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
<br>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
<br>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</body>

<%= render "devise/shared/links" %>
