<%= form_for [current_user, @item] do |form|%>
   <h3>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
  </h3>


   <p>
    <%= form.label :quantity %><br>
    <%= form.text_area :quantity %>
  </p>

  <p>
    <%= form.label :expiration %><br>
    <%= form.text_area :expiration %>
  </p>
    
    <p>
    <%= form.label :location %><br>
    <%= form.text_area :location %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>