<h1> Inventory </h1>

<table>
<% @items.each do |item| %>
	<tr>
		<td><%= item.name %>
		</td>
		<td><%= item.quantity %>
		</td>
		<td><%= item.expiration.strftime('%e %b %Y')%>
		</td>
		<td><%= item.location %>



		<td>
			<% if current_user.giver == false %>
				<% if item.claimed %>
					Claimed
				<% else %>
					<%= link_to "Claim", claim_user_item_path(item.user, item) %>
				<% end %> 
			<% else %>
				<%= button_to 'Delete Item', user_item_path(item.user, item), method: :delete, data: { 
	 					confirm: "Are you sure?" }
                %>
			<% end %>
		</td>
	</tr>

<% end %>


<% if can_add_item? %>
	<%= link_to "Add Item", new_user_item_path(current_user, @item)%>
<% end %>